    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-app-store-ios"></i>
        </div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link " href="/set">
          <i class="fas fa-search fa-search-alt"></i>
          <span>New Search</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      {{#if dashboard}} 
        <!-- Heading -->
        <div class="sidebar-heading">
          Points of interest
        </div>
        <form id="sidebarForm" action="/set/{{query._id}}" method="POST">
          <div class="overflow">
            {{#each placesObj as |place|}}
              <!-- Nav Item - Charts -->
              <li class="nav-item">
                <span class="nav-link py-1">
                  <i class="fas fa-fw {{place.fa}} "></i>
                  <label for="graph-{{place}}" class="form-check-label p-0 col-8 hideOnToggle">{{place.charter}}</label>
                  <input name="establecimiento" class="" type="checkbox" value="{{place.bbva}}"
                    {{#hasQueryCategory ../query place.bbva }}checked="checked"{{/hasQueryCategory}}> 
                </span>
              </li>
            {{/each}}
          </div>
                <hr class="sidebar-divider">

          <div class="text-center col-12 mb-2 ">
            <button type="submit" class="btn btn-success btn-icon-split">
              <span class="icon text-white-50">
                <i class="fas fa-check"></i>
              </span>
              <span class="text hideOnToggle">Submit</span>
            </button>
          </div>
        </form>
      {{/if}}

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>